@model PRP321MVC.Models.LecturerModel

@{
    ViewBag.Title = "ForgotPasswordEmail";
}

<section>
    <p>
        Enter Username to begin Password Recovery Process.
    </p>
    @using (Html.BeginForm("ForgotPasswordEmail", "Account", "POST"))
    {
        <input type="text" placeholder="Username" name="Username" /><br />
        <button>Submit</button>
    }
</section>