
@{
    ViewBag.Title = "ForgotPassword";
}

<section>
    <p>
        Enter new password please
    </p>
    @using (Html.BeginForm("ForgotPasswordEmail2", "Account", "GET"))
    {
        <input type="password"  name="password" /><br />
        <button>Submit</button>
    }
</section>
