@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/CustomStyles/Landing.css")
<section class="card" id="AboutUS">

    <p class="card-body">
        Online Exam Generator
        <br />
        <br />
        Our vision is that all exams should be fair, and equal, thus we designed and online exam generator, that can be used by any institution to generate custom exams and tests.<br />
        <br />
        Created by Mathew, Johann, Schalk, Arnold.
    </p>
</section>